<div class="container">

  <div class="dashboard">
    <button class="side-buttons">
      <i class="fa-solid fa-house"></i>Dashboard
    </button>
    <button class="side-buttons">
      <i class="fa-solid fa-list-ul"></i>Appointments
    </button>
    <button class="side-buttons">
      <i class="fa-solid fa-user"></i> Patient Profile
    </button>
    <button class="side-buttons">
      <i class="fa-solid fa-pen"></i>Client Feedback
    </button>
    <button class="side-buttons">
      <i class="fa-solid fa-calendar"></i>Calendar
    </button>
    <button class="side-buttons">
      <i class="fa-solid fa-comment"></i>Chat
    </button>
    <button class="side-buttons">
      <i class="fa-solid fa-wallet"></i> Wallet
    </button>
  </div>

  <div class="main-page">

    <div class="info">
      <div class="form">
        <label>
          Patient: Cooper
        </label>
        <label>
          Owner: Marc Alfonso
        </label>
        <label>
          Appointment: 10:00 am
        </label>
      </div>
      <div class="button-group">
        <button class="mute-button">
          <i class="fa-solid fa-microphone-slash"></i>Mute
        </button>
        <button class="video-button">
          <i class="fa-solid fa-video"></i> Toggle Video
        </button>
        <button class="end-button">
          <i class="fa-solid fa-x"></i> End Call
        </button>
      </div>
    </div>

    <div class="interaction">
      <div class="message-container">
        <input type="text" class="messages" placeholder="Enter Message: ">
      </div>
      <div class="video-interaction">
        <div class="patient-cam">
          <h1> Patient's Videocam</h1>
          <div class="vet-cam">
            <h5> Veterinarian's Videocam</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>