<div class="pet-container">
  <div class="card-container">
    <div class="card">
      <button class="back-btn">
        back
      </button>

      <div class="title">
      <div class="form-title">Pet Details</div>
      <div class="form-title">Pet Image</div>
      <div class="form-title">Medical Record</div>
      </div>

      <div class="card-content">
        <div class="separator">
          <div class="pet-info-row"><label>Name:</label><label>Robert</label></div>
          <div class="pet-info-row"><label>Breed:</label><label>Visla</label></div>
          <div class="pet-info-row"><label>Species:</label><label>Dog</label></div>
          <div class="pet-info-row"><label>Birth date:</label><label>25</label></div>
          <div class="pet-info-row"><label>Gender:</label><label>Male</label></div>
          <div class="pet-info-row"><label>Weight:</label><label>20 Lbs</label></div>
        </div>

        <div class="image-card">

          <div class="add-card">
            <img src="dog1.webp" alt="Pet Image">
          </div>
        </div>

        <div class="image-card">
          <div class="add-card">
            <img src="medical-record.png" alt="Medical Record">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>