<div class="pet-container">
  <div class="card-container">
    <div class="card">
      <div class="form-title">Enter Pet Details</div>
      <div class="card-content">

        <div class="separator">
          <div class="pet-info-row"><label>Name:</label><input type="text" /></div>
          <div class="pet-info-row"><label>Breed:</label><input type="text" /></div>
          <div class="pet-info-row"><label>Species:</label><input type="text" /></div>
          <div class="pet-info-row"><label>Birth date:</label><input type="text" /></div>
          <div class="pet-info-row"><label>Gender:</label><input type="text" /></div>
          <div class="pet-info-row"><label>Weight:</label><input type="text" /></div>
        </div>

        <div class="image-card">
          <div class="label">Place Pet Image</div>
          <button class="add-card">
            <div class="add-icon">+</div>
          </button>
        </div>

        <div class="image-card">
          <div class="label">Medical Record</div>
          <button class="add-card">
            <div class="add-icon">+</div>
          </button>
        </div>
      </div>

      <div class="card-actions">
        <button>Delete Profile</button>
        <button>Save Profile</button>
      </div>
    </div>
  </div>
</div>